
.carousel-container{
  padding-left:10%;
}

.image-container {
  margin-top: 10px; /* Add margin to create a gap between images */
  margin-bottom: 10px; /* Add margin to create a gap between images */
  max-width: 450px; /* Set the desired width for the images */
  max-height: 800px; /* Set the desired height for the images */
}

.arrow {
  margin-top: 1em;
  margin-left: 10em;
  transform: translateX(-50%); /* Center the arrow horizontally */
  width: 30px; /* Set width of arrow */
  height: 30px; /* Set height of arrow */
  font-size: 24px; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
}